<html>
<p>Where are you going?</p>
<form action="/form" method="post">  
  <input type="text" name="whereto">  
  <input type="submit">  
</form> 

<p>Where are you coming from?</p>
<form action="/form" method="post">  
  <input type="text" name="wherefrom">  
  <input type="submit">  
</form> 
</html>